<div class="card">
  <h2>Upravit recept #{{id}}</h2>

  <form id="editForm" data-id="{{id}}">
    <div class="row">
      <label>Název:</label><br />
      <input name="name" value="{{name}}" required />
    </div>
    <div class="row">
      <label>Doba přípravy:</label><br />
      <input type="number" name="age" min="0" value="{{age}}" required />
    </div>
    <div class="row">
      <label>Původ:</label><br />
      <input name="name" value="{{name}}" required />
    </div>
    <div class="row">
      <label>Náročnost:</label><br />
      <input type="number" name="age" min="0" value="{{age}}" required />
    </div>

    <button type="submit">Uložit (PUT)</button>
    <a class="muted" href="/user/{{id}}">Zpět na detail</a>
    <p class="muted" id="editMsg"></p>
  </form>
</div>
