@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ededed;
}

/* ===== HEADER ===== */

header {
    background: url("header.jpg") center/cover no-repeat;
    height: 250px;
    position: relative;
}

.header-overlay {
    background: rgba(0,0,0,0.5);
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

header h1 {
    color: white;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
}

.orange {
    color: #f77f08;
    font-family: 'Roboto', sans-serif;
}

/* ===== FORM SEKCE ===== */

.form-wrapper {
    width: 80%;
    margin: 60px auto;
    position: relative;
}

.section-title {
    font-size: 32px;
    display: inline-block;
    border-bottom: 4px solid black;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

/* Rozložení do dvou sloupců */
.form-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

/* Levý sloupec - popisky */
.labels {
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: 24px;
}

/* Pravý sloupec - inputy */
.inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 500px;
}

input, select {
    padding: 18px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    background-color: #f77f08;
    opacity: 80%;
    color: black;
}

/* ===== TLAČÍTKO PLUS ===== */

.submit-circle {
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 110px;
    height: 110px;
    background-color: #f77f08;
    border-radius: 50%;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    cursor: pointer;
}
